<div class="row collection-subnav">

	<div class="col-md-3 col-sm-3">
		<%= link_to 'Present Collection', slideshow_collection_path(@collection), title: 'Present Collection' %>
	</div>

	<div class="col-md-3 col-sm-3">
		<button class="share-button" title="Share this collection">Share</button>
	</div>
	
	<div class="col-md-3 col-sm-3">
		<%= link_to 'Print Tearsheets', collection_path(@collection, format: "pdf"), title: 'Print Tearsheets (PDF)', target: "_blank" %>
	</div>

	<div class="col-md-3 col-sm-3">
		<%= link_to 'Edit Collection', edit_collection_path(@collection), title: 'Edit this collection' %>
	</div>

</div>
