<div class="row item-subnav">

	<div class="col-md-2 col-sm-2">
		<button class="share-button" title="Share this collection">Share</button>
	</div>

	<div class="col-md-2 col-sm-2">
		<%= link_to 'Edit', edit_collection_path(@collection), title: 'Edit this collection' %>
	</div>

	<div class="col-md-2 col-sm-2">
		<%= link_to 'Carousel', carousel_collection_path(@collection), title: 'View as carousel' %>
	</div>

	<div class="col-md-2 col-sm-2">
		<%= link_to 'Slideshow', slideshow_collection_path(@collection), title: 'View as slideshow' %>
	</div>

	<div class="col-md-2 col-sm-2">
		<button class="share-button" title="Deactive this collection">Active</button>
	</div>

	<div class="col-md-2 col-sm-2">
		<%= link_to 'Delete', collection_path(@collection), method: :delete, title: 'Delete this collection', data: { confirm: 'Are you sure?' }%>
	</div>

</div>