<h1>Collections</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @collections.each do |collection| %>
      <tr data-link="<%= collection_path(collection) %>">
        <td><%= collection.name %></td>
        <td><%= collection.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collection', new_collection_path, class: 'btn btn-primary' %>
