<h2>My Collections</h2>

<table class="table table-hover">
  <tbody>
    <% @collections.each do |collection| %>
      <tr data-link="<%= collection_path(collection) %>">
        <td><%= collection.name %></td>
        <td><%= collection.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collection', new_collection_path, class: 'btn btn-primary' %>
