<div class="info-panel">
<h1>New Collection</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac ante nec erat vehicula faucibus nec ultrices magna. Donec id massa urna. Praesent condimentum tempus ipsum, in lobortis ipsum. Praesent id tempor arcu. Pellentesque porta diam non odio interdum, id blandit risus blandit. Donec vitae volutpat ante. Nulla imperdiet nulla tellus. Pellentesque justo lectus, luctus quis eros eget, posuere sodales velit. Pellentesque convallis porttitor lectus, accumsan rutrum sapien blandit vitae. Aliquam elementum vestibulum purus. Nunc egestas lectus ligula, ultricies bibendum lorem feugiat vel. Quisque tincidunt massa et tellus pellentesque, sit amet sagittis libero commodo.</p>
</div>
<hr>

<%= render 'form' %>

<!-- <%= session[:item_id] %> -->