// alert('Added to collection')
$('.flash-ajax').html('Item added to collection.')
// $('.navbar').prepend("<div class='flash-ajax'>Item added to collection</div>")
$('.flash-ajax').fadeIn(1000).delay(3000).fadeOut(1000)