<div class="row">
  <div class="col-md-12">
  <h3>Users</h3>

  <table class="table">
    <tbody>
      <% @users.order('name ASC').each do |user| %>
        <tr class="<%= 'bg-warning' if user.admin? %>">
          <%= render user %>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
