<div class="row">

  <!-- MAIN CONTENT -->
  <div class="col-md-12">

    <!-- CAROUSEL -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <a href="item.html"><img src="http://173.254.104.110/hml/back-office/items/details/100996.jpg" alt="..."></a>
          <div class="carousel-caption">
            <!-- slider #1 -->
          </div>
        </div>
        <div class="item">
          <a href="item-2.html"><img src="http://173.254.104.110/hml/back-office/items/details/98116.jpg" alt="..."></a>
          <div class="carousel-caption">
            <!-- slider #2 -->
          </div>
        </div>
        <div class="item">
          <a href="item.html"><img src="http://173.254.104.110/hml/back-office/items/details/99423.jpg" alt="..."></a>
          <div class="carousel-caption">
            <!-- slider #3 -->
          </div>
        </div>

        <div class="item">
          <a href="item.html"><img src="http://173.254.104.110/hml/back-office/items/details/100987.jpg" alt="..."></a>
          <div class="carousel-caption">
            <!-- slider #4 -->
          </div>
        </div>

        <div class="item">
          <a href="item.html"><img src="http://173.254.104.110/hml/back-office/items/details/101070.jpg" alt="..."></a>
          <div class="carousel-caption">
            <!-- slider #5 -->
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <!-- <span class="glyphicon glyphicon-chevron-left"></span> -->
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <!-- <span class="glyphicon glyphicon-chevron-right"></span> -->
      </a>
    </div>
  </div>
</div>
