<!-- CAROUSEL -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <!-- Slide #1 - Auction-Ad-1 -->
    <div class="item active">
      <a href="http://www.sothebys.com/en/auctions/2016/collections-european-decorative-arts-n09493.html" target="_blank">
        <img alt="Item: 10016" class="img-responsive cld-responsive cld-responsive" data-src="http://res.cloudinary.com/hzrew79xn/image/upload/c_limit,cs_srgb,dpr_auto,w_auto/Auction-Ad-1.jpg" src="http://res.cloudinary.com/hzrew79xn/image/upload/c_limit,cs_srgb,dpr_2.0,w_1270/Auction-Ad-1.jpg">
      </a>
    </div>

    <!-- Slide #2 -->
    <div class="item">
      <a href="http://www.hmluther.com/items/10016">
        <img alt="Item: 10016" class="img-responsive cld-responsive cld-responsive" data-src="http://res.cloudinary.com/hzrew79xn/image/upload/c_limit,cs_srgb,dpr_auto,w_auto/129959.jpg" src="http://res.cloudinary.com/hzrew79xn/image/upload/c_limit,cs_srgb,dpr_2.0,w_1270/129959.jpg">
      </a>
    </div>

    <!-- Slide #3 - Auction-Ad-2 -->
    <div class="item">
      <a href="http://www.sothebys.com/en/auctions/2016/collections-european-decorative-arts-n09493.html" target="_blank">
        <img alt="Item: 10016" class="img-responsive cld-responsive cld-responsive" data-src="http://res.cloudinary.com/hzrew79xn/image/upload/c_limit,cs_srgb,dpr_auto,w_auto/Auction-Ad-2.jpg" src="http://res.cloudinary.com/hzrew79xn/image/upload/c_limit,cs_srgb,dpr_2.0,w_1270/Auction-Ad-2.jpg">
      </a>
    </div>

    <!-- Slide #4 -->
    <div class="item">
      <a href="http://www.hmluther.com/items/9994">
        <img alt="Item: 10016" class="img-responsive cld-responsive cld-responsive" data-src="http://res.cloudinary.com/hzrew79xn/image/upload/c_limit,cs_srgb,dpr_auto,w_auto/130206.jpg" src="http://res.cloudinary.com/hzrew79xn/image/upload/c_limit,cs_srgb,dpr_2.0,w_1270/130206.jpg">
      </a>
    </div>

    <!-- Slide #5 -->
    <div class="item">
      <a href="http://www.hmluther.com/items/9710">
        <img alt="Item: 10016" class="img-responsive cld-responsive cld-responsive" data-src="http://res.cloudinary.com/hzrew79xn/image/upload/c_limit,cs_srgb,dpr_auto,w_auto/129081.jpg" src="http://res.cloudinary.com/hzrew79xn/image/upload/c_limit,cs_srgb,dpr_2.0,w_1270/129081.jpg">
      </a>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
