<div class="row item-subnav">

	<div class="col-md-6 col-sm-6 col-xs-6">
		<button class="group-alpha" title="Group alpahbetically">Alphabetical</button>
	</div>

	<div class="col-md-6 col-sm-6 col-xs-6">
		<button class="group-country" title="Group by country">Country</button>
	</div>

</div>