<h1>Editing designer</h1>

<%= render 'form' %>

<hr>

<%= link_to 'Show', @designer, class: 'btn btn-primary' %>
<%= link_to 'Back', designers_path, class: 'btn btn-primary' %>
<%= link_to 'Destroy', @designer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>