<h1>Designers</h1>
<hr>


<% @designer_country.sort.each do |country, designer| %>
  <h4><%= country %></h4>
  <p>
  <% for designer in designer %>
    <%= link_to designer.name, designer_path(designer), class: 'designer-country-link' %>
  <% end %>
  </p>
  <hr>
<% end %>

<!-- <%= link_to 'New Designer', new_designer_path, class: 'btn btn-primary' %> -->
