<div class="contact-page">

	<!-- ABOUT COPY -->
	<div class="col-md-4 description-copy">
		<p>Founded in London in 1947, H.M. Luther has long been a favorite of knowledgeable interior designers and discerning clients. We search the world for a diverse selection of fine furniture and decorative items. Expert dealers who prefer a wide range of periods and cultures, H.M. Luther’s strengths are European and Asian furniture, mirrors, chandeliers and decorative objects from the seventeenth through the twentieth century. The selection of Northern European furniture and Japanese bronze vessels is especially strong and ranks among the best anywhere. Our taste favors the atypical and particular. For us, the most exciting objects need not be the most important but rather inspire a sense of wonder. We like clients with imagination as well as aspirations.</p>
		<p>H.M. Luther has two locations, one in Greenwich Village, 61 East 11th Street, and the other at The Carlyle, 35 East 76th Street. The two locations inform the uptown / downtown sensibility of H.M. Luther by mixing different periods and styles.</p>
		<div class="hidden-xs hidden-md hidden-lg">
			<hr>
		</div>
	</div>

	<!-- LOCATION #1 -->
	<div class="col-md-4">
		<div class="row">
			<div class="col-md-12 col-sm-6 address">
				<div class="hidden-sm hidden-md hidden-lg">
					<hr>
				</div>
				<address>
				  <strong>The Carlyle</strong><br>
				  35 East 76th Street<br>
				  New York, NY 10021<br>
				  <abbr title="Phone">Phone:</abbr> (212) 439-7919 <br> 
				  <abbr title="Fax">Fax:</abbr> (212) 439-0966
				</address>
				<p>Monday-Friday 10-5<br>
				Saturday 11-4<br>
				and by appointment</p>
			</div>
			<div class="col-md-12 col-sm-6">
				<div class="hidden-sm hidden-xs">
					<hr>
				</div>
				<div id="carlyle_map" class="map-canvas">
					<iframe width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=35%20E%20E%2076th%20St%2C%20New%20York%20City%2C%20NY%2C%20United%20States&key=AIzaSyDSjUuSMRlAqJwMSAjHepir6n2vPCtHkKo"></iframe>
				</div>
			</div>
		</div>
	</div>

	<div class="hidden-xs hidden-md hidden-lg">
		<hr>
	</div>

	<!-- LOCATION #2 -->
	<div class="col-md-4">
		<div class="row">
			<div class="col-md-12 col-sm-6 address">
				<div class="hidden-sm hidden-md hidden-lg">
					<hr>
				</div>
				<address>
				  <strong>Greenwich Village</strong><br>
				  61 East 11th Street<br>
				  New York, NY 10003<br>
				  <abbr title="Phone">Phone:</abbr> (212) 505-1485 <br> 
				  <abbr title="Fax">Fax:</abbr> (212) 505-0401
				</address>
				<p>Monday-Friday 10-5<br>
				and by appointment</p>
			</div>
			<div class="col-md-12 col-sm-6">
				<div class="hidden-sm hidden-xs">
					<hr>
				</div>
				<div id="gv_map" class="map-canvas">
					<iframe width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=61%20East%2011th%20Street%20New%20York%2C%20NY%2010003&key=AIzaSyDSjUuSMRlAqJwMSAjHepir6n2vPCtHkKo"></iframe>
				</div>
			</div>
		</div>
	</div>

	<!-- CONTACT FORM -->
	<%= render 'form' %>

</div>
