<!-- UTILITY BUTTONS -->
<!-- <div class="row">
  <div class="col-md-12">
    <ul class="nav nav-pills nav-util">
      <li><a href="#">MIRRORS</a></li>
      <li><a href="#" class="sort" data-sort="myorder:desc">SORT SMALL TO LARGE</a></li>
      <li><a href="mirrors-h2.html" class="sort" data-sort="myorder:desc">DISPLAY: 2 ROWS</a></li>
    </ul>
  </div>
</div> -->

<div class="row item-subnav">
	<div class="col-md-4 hidden-sm hidden-xs category-display">
		<%= params[:category] %>
	</div>

	<div class="col-md-4">
		<button class="sort-button sm-lg-icon">SORT SMALL TO LARGE</button>
	</div>

	<div class="col-md-4">
		<button class="display-button">DISPLAY : 2 ROWS</button>
	</div>
</div>