<div class="row category-subnav">
	<div class="col-md-2 col-sm-4 col-xs-12 display">
		<%= params[:category] %>: <%= @items.count %>
	</div>

	<div class="col-md-2 col-sm-4 col-xs-6">
		<button class="sort-button-sl sm-lg-icon">Small to Large</button>
	</div>

	<div class="col-md-2 col-sm-4 col-xs-6">
		<button class="sort-button-ls lg-sm-icon">Large to Small</button>
	</div>

	<div class="col-md-2 hidden-sm hidden-xs">
		<button class="display-1-button">Display as 1 Row</button>
	</div>

	<div class="col-md-2 hidden-sm hidden-xs">
		<button class="display-2-button">Display as 2 Rows</button>
	</div>

	<div class="col-md-2 col-sm-12 col-xs-12">
		<%= link_to 'Collections', collections_path %>
	</div>

</div>