<div class="row item-subnav">

	<div class="col-md-2 display">
		Item #<%= @item.filemaker_id %>
	</div>

	<div class="col-md-2">
		<button class="share-button">Share</button>
	</div>

	<div class="col-md-2">
		<% if @item.tearsheet_url %>
			<%= link_to 'Download Tearsheet', @item.tearsheet_url, :target => "_blank" %>
		<% else %>
			<button class="line-through" title="Tearsheet unavailable"><%= "Tearsheet" %></button>
		<% end %>
	</div>

	<div class="col-md-2">
		<button class="request-info-button">Request Information</button>
	</div>

	<% if user_signed_in? %>
		<div class="col-md-2">
			<button class="collection-add-button">Add to Collection</button>
		</div>
	<% else %>
		<div class="col-md-2">
			<button class="collection-login-button">Add to Collection (Login)</button>
		</div>
	<% end %>

	<div class="col-md-2">
		<%= link_to 'Collections', features_path %>
	</div>


</div>