<div class="row item-subnav">

	<div class="col-md-2 col-sm-2 display">
		Item #<%= @item.filemaker_id %>
	</div>

	<div class="col-md-2 col-sm-2">
		<button class="share-button" title="Share this item">Share</button>
	</div>

	<div class="col-md-2 col-sm-2">
		<% if @item.tearsheet_url %>
			<%= link_to 'Tearsheet', @item.tearsheet_url, class: 'tearsheet', :target => "_blank", title: 'Download Tearsheet' %>
		<% else %>
			<button class="line-through" title="Tearsheet unavailable"><%= "Tearsheet" %></button>
		<% end %>
	</div>

	<div class="col-md-2 col-sm-2">
		<button class="request-info-button">Information</button>
	</div>

	<div class="col-md-2 col-sm-2">
	<% if user_signed_in? %>
		<button class="collection-add-button" title="Add to collection">Add</button>
	<% else %>
		<button class="collection-login-button line-through" title="Login required for collections">Add</button>
	<% end %>
	</div>

	<% if user_signed_in? %>
	<div class="col-md-2 col-sm-2">
		<%= link_to 'Collections', collections_path, title: 'Manage my collections' %>
	</div>
	<% else %>
	<div class="col-md-2 col-sm-2 display">
		<span class="line-through" title="Login required for collections">Collections</span>
	</div>
	<% end %>


</div>