<div class="row item-subnav">

	<!-- ITEM NUMBER -->
	<div class="col-md-6 col-sm-6 col-xs-6">
		<%= link_to "<< Back", :back %>
	</div>

	<!-- SHARE -->
	<div class="col-md-6 col-sm-6 col-xs-6">
		<%= link_to "Share", remote_share_item_path(:item => @item.filemaker_id), :remote => true, title: 'Share this item' %>
	</div>

</div>
