<div class="row item-subnav">

	<!-- ITEM NUMBER -->
	<div class="col-md-6 col-sm-6 col-xs-6 display">
		Item #<%= @item.filemaker_id %>
	</div>

	<!-- SHARE -->
	<div class="col-md-6 col-sm-6 col-xs-6">
		<button class="share-button" title="Share this item">Share</button>
	</div>

</div>
