<div class="row item-subnav">

	<div class="col-md-3">
		<button class="share-button">SHARE</button>
	</div>

	<div class="col-md-3">
		<button class="request-info-button">REQUEST INFORMATION</button>
	</div>

	<div class="col-md-3">
		<button class="tearsheet-button">TEARSHEET</button>
	</div>

	<div class="col-md-3">
		<button class="collection-add-button">ADD TO COLLECTION</button>
	</div>

</div>