@media screen and (max-width: 1200px){

	.cbp-hrmenu > ul > li.cbp-hropen a,
	.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
		font-size: 1em;
		padding: 1em 2em;
	}

	.cbp-hrmenu .cbp-hrsub-inner > div a {
		line-height: 2.5em;
	}
	
}

@media screen and (max-width: 1024px){

	.cbp-hrmenu > ul > li.cbp-hropen a,
	.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
		font-size: 1em;
		padding: 1em 2em;
	}

	.cbp-hrmenu .cbp-hrsub-inner > div a {
		line-height: 2.5em;
	}
	
}

@media screen and (max-width: 991px){
	.art_sculpture:after {
		content: '';
	}

	.cbp-hrmenu > ul > li.cbp-hropen div.cbp-hrsub-inner a,
	.cbp-hrmenu > ul > li.cbp-hropen div.cbp-hrsub-inner a:hover {
		font-size: 1em;
		padding: 1.15em 0;
	}

}

@media screen and (max-width: 768px){

	.cbp-hrmenu > ul > li.cbp-hropen div.cbp-hrsub-inner a,
	.cbp-hrmenu > ul > li.cbp-hropen div.cbp-hrsub-inner > a:hover {
		font-size: 13px;
		padding: 0.9em 1.5em 0.9em 0;
	}

	.cbp-hrmenu .cbp-hrsub-inner > div {
		width: 33%;
		float: left;
		padding: 0;
	}

}

@media screen and (max-width: 600px){

	.candelabras:after {
		content: '';
	}

	.cbp-hrmenu > ul > li > a {
		padding: 1em 0;
		text-align: center;
	}

	.cbp-hrmenu > ul > li.cbp-hropen > a,
	.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
		padding: 1em 0;
		text-align: center;
	}

	.cbp-hrmenu > ul > li.cbp-hropen div.cbp-hrsub-inner a,
	.cbp-hrmenu > ul > li.cbp-hropen div.cbp-hrsub-inner > a:hover {
		// font-size: 0.9em;
	}

}

@media screen and (max-width: 520px){

	.cbp-hrmenu > ul > li.cbp-hropen > a,
	.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
		// font-size: 0.9em;
		// padding: 1em;
	}

	.cbp-hrmenu > ul > li.cbp-hropen div.cbp-hrsub-inner a,
	.cbp-hrmenu > ul > li.cbp-hropen div.cbp-hrsub-inner > a:hover {
		// font-size: 0.85em;
		// padding: 0.9em 0 0.9em 1.5em;
	}

}

@media screen and (max-width: 479px){
	.art_sculpture:after {
		content: ', Sculpture';
	}
		.candelabras:after {
		content: ', Candlesticks';
	}

	.cbp-hrmenu > ul > li > a {
		padding: 0.7em 1em;
		text-align: left;
	}

	.cbp-hrmenu > ul > li.cbp-hropen a,
	.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
		font-size: 0.85em;
		padding: 0.7em 1em;
		text-align: left;
	}

	.cbp-hrmenu > ul > li.cbp-hropen div.cbp-hrsub-inner a,
	.cbp-hrmenu > ul > li.cbp-hropen div.cbp-hrsub-inner > a:hover {
		// color: black;
		display: block;
		font-size: 1em;
		padding: 0.5em 1.1em;
		border-top: 1px solid #fff;
	}

	.cbp-hrmenu > ul > li.cbp-hropen .cbp-hrsub-inner a {
		// margin-bottom: 3px;
		// padding: 5px 20px;
		// padding: 0.7em 1em;
	}

	.cbp-hrmenu > ul > li.cbp-hropen .cbp-hrsub-inner a:hover {
		background-color: #666;
	}

	.cbp-hrmenu .cbp-hrsub-inner > div {
		width: 100%;
	}

	.cbp-hropen .cbp-hrsub {
		padding-bottom: 0;
	}

}