// CONTACT PAGE
.contact-page {
  margin-top: 30px;
  address strong {
    color: #f47321;
    font-size: 2em;
    font-weight: normal;
    // line-height: 1.5em;
  }
  .address {
    // color: #666;
    height: 200px;
  }
  .map-canvas {
    background-color: #e5e5e5;
    height: 300px;
    width: 100%;
  }
}