$grayBattleship: #848482;
$grayCharcoal: #36454f;
$grayRule: #e5e5e5;
$lightblue: #001eff;
$lightred: #AD141E;
$yellow: #fffdd0;
$whiteCosmic: #fff8e7;
$whiteSmoke: #f5f5f5;
$whiteIsabelline: #f4f0ec;
$hmlOrange: #f47321;
$hmlGray: #999999;

$background: #ffffff;

// import the CSS framework
@import "bootstrap";

// make all images responsive by default
a {
  color: #f47321;
}

img {
  @extend .img-responsive;
  margin: 0 auto;
  }
hr {
  border-color: $grayRule;
  border-width: 1px;
}

body {
  background-color: $background;
  font-family: 'Open Sans', 'sans-serif';
}

.btn-primary {
  background-color: #FFFFFF;
  border-color: rgb(204, 204, 204);
  color: #000000;
}

.btn-primary:hover {
  background-color: $hmlOrange;
  border-color: $hmlOrange;
}

.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  // @extend .col-md-6;
  input[type='text'], textarea {
    border-radius: 0px;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit, input[type='submit'] {
  @extend .btn;
  @extend .btn-primary;
  // @extend .btn-lg;
  }
main {
  @extend .container;
  background-color: #fafafa;
  padding-bottom: 80px;
  width: 100%;
  }
.navabr {
  margin-bottom: 0;
}
section {
  @extend .row;
  margin-top: 20px;
  }
}
// Styles for Devise views
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

.table-hover {
  cursor: pointer;
}

.table-hover td:first-child {
  // background-color: red;
  width: 20%;
}
