@media screen and (min-width: 1501px){

	.category-items.one-row {
		list-style-type: none;
		margin: 0;
		padding: 0 0 0 0;
	  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	  display: -ms-flexbox;      /* TWEENER - IE 10 */
	  display: -webkit-flex;     /* NEW - Chrome */
	  display: flex;
	  -webkit-flex-direction: column;
	  flex-direction: column;
	  flex-wrap: wrap;
	  -webkit-flex-wrap: wrap;
	  height: 635px;
		li.item {
		  width: 875px;
		  height: 625px;
		  border: 1px solid #c8c8c8;
		  margin: 0 40px 0 0;
		  padding: 5px;
			.item-info {
				min-height: 90px;
			}
			.item-image, .item-info, .item-link {
				padding: 0;
			}
			p {
				line-height: 20px;
				font-weight: 200;
				margin: 7px 0 5px 7px;
			}
		}
	}

	.category-items.two-rows {
		list-style-type: none;
		padding: 0;
		margin: 0;
	  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	  display: -ms-flexbox;      /* TWEENER - IE 10 */
	  display: -webkit-flex;     /* NEW - Chrome */
	  display: flex;
	  -webkit-flex-direction: column;
	  flex-direction: column;
	  flex-wrap: wrap;
	  -webkit-flex-wrap: wrap;
	  height: 635px;
	  h4 {
	  	font-size: 12px;
	  	margin-bottom: 0;
	  }
	  li.item:nth-child(even) {
	  	margin-bottom: 5px;
	  }
		li.item {
		  width: 366px;
		  height: 305px;
		  border: 1px solid #c8c8c8;
		  margin: 0 40px 15px 0;
		  padding: 2px;
			cursor: pointer;
			.item-circa {
				display: none;
			}
			.item-info {
				font-size: 0.8em;
				height: 66px;
				.item-description {
					white-space: nowrap;
				  overflow: hidden;
					text-overflow: ellipsis;
				}
			}
			.item-image, .item-info, .item-link {
				padding: 0;
			}
			.item-image .webcomp {
				// width: 296px;
			}
			p {
				line-height: 20px;
				font-weight: 200;
				margin: 0px 0 5px 7px;
			}
		}
	}

	.scroll-controls {
		.control {
			height: 95%;
		}
	}

}

@media screen and (max-width: 991px){

	// CATEGORY SUBNAV
	.category-subnav {
		div {
			border-right: 3px solid #FFFFFF;
			margin: 0 0 3px 0;
		}
		div:last-child {
			// border: none;
		}
		div.display {
			// border: none;
		}
	}

}

@media screen and (max-width: 768px){

	.category-items-container::-webkit-scrollbar-track:horizontal, .category-items-container::-webkit-scrollbar-track:vertical {
		display: none;
	}

	// CATEGORY-ITEMS-CONTAINER
	.category-items-container {
		overflow-y: auto;
	}

	// CATEGORY-ITEMS
	.category-items {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	// CATEGORY-ITEMS ONE-ROW TWO-ROWS
	ul.category-items.one-row, ul.category-items.two-rows {
  	display: block;
  	margin: 0;
  	padding: 0;
  	height: auto;
	}

	// CATEGORY-ITEMS ITEM
	ul.category-items.one-row li.item, ul.category-items.two-rows li.item  {
		height: auto;
		margin-bottom: 10px;
		width: 100%;
	}

	// CATEGORY-ITEMS IMAGES
	.category-items li .item-image, .category-items.two-rows li .item-image {
	}

	// CATEGORY SUBNAV
	.category-subnav div {
		border-right: none;
	}


	/*ITEM IMAGES */
	.all-images {
		padding-right: 5px;
	}
	.category-items-container::-webkit-scrollbar-track:horizontal, .item-images-container::-webkit-scrollbar-track:horizontal {
		display: none;
	}
	.item-images-container {
		margin: 0;
		padding: 0;
		width: 100%;
		.item-images {
			margin: 0;
			padding: 0 0 5px 0;
			position: relative;
			width: 100%;
		}
		.item-images img {
			height: auto;
			margin: 0 0 10px 0;
			width: 100%;
		}
	}


	// ITEM SUBNAV
	.item-subnav {
		div {
			border-right: 3px solid #ffffff;
			margin: 0 0 3px 0;
			float: left;
		}
		div:nth-child(odd) {
			border-right: 3px solid #FFFFFF;
		}
		div:nth-child(even) {
			border-right: none;
		}
		div:last-child {
			border-right: none;
		}
	}	

}

@media screen and (max-width: 479px){

	.category-subnav, .collection-subnav, .item-subnav {
		font-size: 0.8em;
	}

	// SOLD
	.category-stamp-sold {
		height: 30px;
		margin: 10px 10px;
		position: absolute;
	}

	.item-stamp-sold {
		float: right;
		margin-right: 2em;
		height: 50px;
	}


}