// CAROUSEL
.carousel .item {
    left: 0 !important;
      -webkit-transition: opacity .4s; /*adjust timing here */
         -moz-transition: opacity .4s;
           -o-transition: opacity .4s;
              transition: opacity .4s;
}

.carousel .item img {
  width: 100%;
}

.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
.next.left,
.prev.right {
    opacity: 1;
    z-index: 1;
}
.active.left,
.active.right {
    opacity: 0;
    z-index: 2;
}

.carousel-indicators {
    top: 101%;
}

.carousel-indicators li{
  background-color: #e5e5e5;
  border: none;
}

.carousel-indicators .active{
  background-color: #f47321;
}

.container {
  // padding-left: 0;
  // padding-right: 0;
}

// CONTACT PAGE
.contact-page {
  margin-top: 30px;
  address strong {
    color: #f47321;
    font-size: 2em;
    font-weight: normal;
    // line-height: 1.5em;
  }
  .about-copy {
    padding-top: 10px;
    font-size: 1.2em;
    color: #666; 
  }
  .address {
    color: #666;
    height: 200px;
  }
  .map-canvas {
    background-color: lightgray;
    height: 300px;
    width: 100%;
  }
}

// FEATURE PAGE
.feature-page {
  .col-md-12 {
    padding-left: 0;
    padding-right: 0;
  }
  h2 {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  p {
    margin-bottom: 25px;
  }
}

// FOOTER
footer{
  color: #646464;
  font-size: 0.7em;
  margin-top: 10px;
  .container {
    // border-top: 1px solid #969696;
    padding-bottom: 15px;
  }
}


// TOP NAVBAR
.navbar {
  border: none;
  padding: 0;

  .btn-default {
  	background-color: #e5e5e5;
  	border:none;
  	border-radius: 0;
  	color: #777777;
  	display: block;
  	font-size: 0.7em;
  	margin-bottom: 2px;
  	text-align: left;
  	text-transform: uppercase;
  	width: 125px;
  }

  .btn-default:hover{
  	background-color: #f47321;
  	color: #ffffff;
  }

  .caret {
    margin-left: 10px;
    margin-top: -3px;
  }

  .container {
    padding: 5px 15px;
    hr {
      margin: 0;
      border: 1px solid #e5e5e5;
    }
  }

  .dropdown-toggle {
    color: #666;
    text-decoration: none;
  }

  .dropdown-toggle:hover {
    color: #fff;
  }

  .logo {
    height:70px;
  }

  .navbar-brand {
    height: auto;
    padding-bottom: 5px;
  }

  .navbar-right {
    list-style-type: none;
    margin: 10px -15px 0 0;
  }
  .dropdown-menu li a {
    background-color: transparent;
    font-size: 0.8em;
    text-transform: uppercase;
  }
  .dropdown-menu li:hover {
    background-color: #f5f5f5;
  }
}

.navbar-default {
  background-color: rgb(255, 255, 255);
}


// CATEGORY SCROLLBAR
.category-items-container::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.category-items-container::-webkit-scrollbar-track:horizontal {
  background: rgba(229,229,229,0.5);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* Handle */
.category-items-container::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: rgba(244,115,33,1);
  -webkit-transition: all 300ms ease-in-out;
}

.category-items-container::-webkit-scrollbar-thumb:hover {
  background: rgba(244,115,33,1);
}

.category-items-container::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.2);
}


// ITEM SCROLLBAR
.item-images-container::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.item-images-container::-webkit-scrollbar-track:horizontal {
  background: rgba(229,229,229,0.5);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.item-images-container::-webkit-scrollbar-track:vertical {
  background: transparent;
}

/* Handle */
.item-images-container::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: rgba(244,115,33,1);
  -webkit-transition: all 300ms ease-in-out;
}

.item-images-container::-webkit-scrollbar-thumb:hover {
  background: rgba(244,115,33,1);
}

.item-images-container::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.2);
}


// RECENT ITEMS SCROLLBAR
.item-thumb-container::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.item-thumb-container::-webkit-scrollbar-track:horizontal {
  background: rgba(229,229,229,0.5);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.item-thumb-container::-webkit-scrollbar-track:vertical {
  background: transparent;
}

/* Handle */
.item-thumb-container::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: rgba(244,115,33,1);
  -webkit-transition: all 300ms ease-in-out;
}

.item-thumb-container::-webkit-scrollbar-thumb:hover {
  background: rgba(244,115,33,1);
}

.item-thumb-container::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.2);
}


// FLASH AJAX
.flash-ajax {
  background-color: #333;
  border-radius: 5px;
  color: #ffffff;
  display: none;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  max-width: 200px;
  opacity: 0.7;
  padding: 1.2em;
  z-index: 50;
}

// RECENT ITEMS
.recent-items {
  padding-top: 10px;
  a {
    border: none;
  }
  .item-thumb-container {
    padding: 0;
    margin: 0;
    position: relative;
    overflow-x: scroll;
    overflow-y:hidden;
    -webkit-overflow-scrolling: touch;
    .item-thumbs {
      margin: 0;
      padding: 10px 0;
      display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: -webkit-flex;     /* NEW - Chrome */
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      height: 200px;
      img {
        border: 1px solid #c8c8c8;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        float: left;
        padding: 2px;
        height: 170px;
      }
      img:hover {
        border: 1px solid #f47321;
        opacity: 0.7;
        -moz-transition: all 400ms ease-in-out;
        -ms-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out;
      }
      div { 
        margin-right: 20px;
      }
      div:last-of-type {
        margin-right: 0;
      }
    }
  }
  .rc-title {
    margin: 5px 0 10px 0;
    font-size: 0.8em;
    text-transform: uppercase;
    background-color: #e5e5e5;
    color: #666666;
    padding: 10px 15px;
  }
}