.description-copy p {
  padding-top: 10px;
  font-align: justify;
  font-size: 1.2em;
  color: #666;
}

.img-inline {
  margin: -5px 2px 0 0;
  display: inline;
}

// CAROUSEL
.carousel .item {
  left: 0 !important;
    -webkit-transition: opacity .4s; /*adjust timing here */
       -moz-transition: opacity .4s;
         -o-transition: opacity .4s;
            transition: opacity .4s;
}

.carousel .item img {
  width: 100%;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px 0;
}

.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
.next.left,
.prev.right {
    opacity: 1;
    z-index: 1;
}
.active.left,
.active.right {
    opacity: 0;
    z-index: 2;
}

.carousel-indicators {
    top: 101%;
}

.carousel-indicators li{
  background-color: #e5e5e5;
  border: none;
}

.carousel-indicators .active{
  background-color: #f47321;
}

// BUTTON DEFAULT
a.btn-default {
  background-color: #e5e5e5;
  border: none;
  border-radius: 0;
  font-size: 0.7em;
  text-align: left;
  text-transform: uppercase;
}
a.btn-default:hover {
  background-color: #f47321;
  color: #ffffff;
}


// DROPDOWNS
.dropdown {
}
.dropdown-menu {
  padding: 0;
  .divider {
    margin: 2px 0;
  }
  li {
    // background-color: green;
    font-size: 0.8em;
    text-transform: uppercase;
    a, button, .btn-default {
      background-color: transparent;
      padding: 8px 25px 8px 25px;
    }
    a:hover, button:hover, .btn-default:hover {
      background-color: #f47321;
      color: #ffffff;
    }
    button.active {
      background-color: #666666;
      background-image: url(image-path('tick-small-white.png'));
      background-repeat: no-repeat;
      background-position: 4px 6px;
      background-size: 20px 20px;
      color: #FFFFFF;
    }
    form div {
      // text-align: center;
    }
    input[type=submit] {
      border: none;
      background-color: transparent;
      padding: 8px 25px 8px 25px;
      text-transform: uppercase;
      width: 100%;
    }
    input[type=submit]:hover {
      background-color: #f47321;
      color: #ffffff;
    }
    span.assigned {
      display: block;
      padding: 5px 5px 5px 22px;
      text-decoration: line-through;
      text-transform: uppercase;
      text-wrap:none;
    }
  }
}

// FEATURE PAGE
.feature-page {
  .col-md-12 {
    padding-left: 0;
    padding-right: 0;
  }
  h2 {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  p {
    margin-bottom: 25px;
  }
}

// FOOTER
footer{
  // color: #646464;
  font-size: 0.7em;
  margin-top: 10px;
  .container {
    // border-top: 1px solid #969696;
    padding-bottom: 15px;
  }
}


// TOP NAVBAR
.navbar {
  border: none;
  padding: 0;

  .btn-default {
  	background-color: #e5e5e5;
  	border:none;
  	border-radius: 0;
  	display: block;
  	font-size: 0.7em;
  	margin-bottom: 2px;
  	text-align: left;
  	text-transform: uppercase;
  	width: 100%;
  }
  .btn-default:hover{
  	background-color: #f47321;
  	color: #ffffff;
  }
  .caret {
    margin-left: 10px;
    margin-top: -3px;
  }
  .container {
    padding: 5px 15px;
    hr {
      margin: 0;
      border: 1px solid #e5e5e5;
    }
  }
  .dropdown-toggle {
    text-decoration: none;
  }
  .dropdown-toggle:hover {
    color: #fff;
  }
  .logo {
    height:70px;
  }
  .navbar-brand {
    height: auto;
    padding-bottom: 5px;
  }
  .navbar-right {
    list-style-type: none;
    margin: 10px -15px 0 0;
    li {
      min-width: 100px;
    }
  }
}

.navbar-default {
  background-color: rgb(255, 255, 255);
}


// CATEGORY SCROLLBAR
.category-items-container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.category-items-container::-webkit-scrollbar-track:horizontal {
  background: rgba(229,229,229,0.5);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* Handle */
.category-items-container::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: rgba(244,115,33,1);
  -webkit-transition: all 300ms ease-in-out;
}

.category-items-container::-webkit-scrollbar-thumb:hover {
  background: rgba(244,115,33,1);
}

.category-items-container::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.2);
}


// ITEM SCROLLBAR
.item-images-container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.item-images-container::-webkit-scrollbar-track:horizontal {
  background: rgba(229,229,229,0.5);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.item-images-container::-webkit-scrollbar-track:vertical {
  background: transparent;
}

/* Handle */
.item-images-container::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: rgba(244,115,33,1);
  -webkit-transition: all 300ms ease-in-out;
}

.item-images-container::-webkit-scrollbar-thumb:hover {
  background: rgba(244,115,33,1);
}

.item-images-container::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.2);
}


// RECENT ITEMS SCROLLBAR
.item-thumb-container::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.item-thumb-container::-webkit-scrollbar-track:horizontal {
  background: rgba(229,229,229,0.5);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.item-thumb-container::-webkit-scrollbar-track:vertical {
  background: transparent;
}

/* Handle */
.item-thumb-container::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: rgba(244,115,33,1);
  -webkit-transition: all 300ms ease-in-out;
}

.item-thumb-container::-webkit-scrollbar-thumb:hover {
  background: rgba(244,115,33,1);
}

.item-thumb-container::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.2);
}


// FLASH AJAX
// .flash-ajax {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   -webkit-transform: translate(-50%, -50%);
//   text-align: center;
//   box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
//   font-size: 1.6em;
//   background-color: #f47321;
//   border-radius: 5px;
//   color: #ffffff;
//   display: none;
//   opacity: 0.9;
//   padding: 3em 2em;
//   z-index: 50;
// }

// RECENT ITEMS
.recent-items {
  margin-bottom: 5px;
  padding-top: 5px;
  a {
    border: none;
  }
  .item-thumb-container {
    padding: 0;
    margin: 0;
    position: relative;
    overflow-x: scroll;
    overflow-y:hidden;
    -webkit-overflow-scrolling: touch;
    .item-thumbs {
      margin: 0;
      padding: 10px 0;
      display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: -webkit-flex;     /* NEW - Chrome */
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      height: 185px;
      img {
        border: 1px solid #c8c8c8;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        float: left;
        padding: 2px;
        height: 170px;
      }
      img:hover {
        border: 1px solid #f47321;
        opacity: 0.7;
        -moz-transition: all 400ms ease-in-out;
        -ms-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out;
      }
      div { 
        margin-right: 20px;
      }
      div:last-of-type {
        margin-right: 0;
      }
    }
    .item-thumbs {
    }
  }
  .rc-title {
    margin: 5px 0 0px 0;
    font-size: 0.8em;
    text-transform: uppercase;
    background-color: #e5e5e5;
    padding: 8px 10px;
  }
}