// Place all the styles related to the remote_content controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.collection_modal, 
.info_modal, 
.login_modal, 
.share_item_modal, 
.share_collection_modal, 
.sign_up_modal {
	color: #666666;
	.row.form-content {
		hr {
			margin: -10px 0 10px 0;
		}
	}
	.right-column {
		.form-group {
			padding-left: 0;
		}
	}
	.btn-primary {
		background-color: #c8c8c8;
		width: 100%;
	}
	.btn-primary:hover {
		background-color: #f47321;
	}
	.form-group {
		margin-bottom: 3px;
		padding: 0 10px;
	}
	.logo-icon {
		display: inline-block;
		height: 50px;
		text-align: left;
		vertical-align: bottom;
	}
	.modal-body {
		padding: 25px 25px 0 25px;
		p {
			font-size: 0.9em;
			padding: 5px 0 15px 0;
		}
		p.right {
			margin: 0 0 0 -12px;
		}
	}
	.modal-content {
		background-color: #e6e6e6;
	}
	.modal-dialog {
		// width: 700px;
	}
	.modal-footer {
		font-size: 0.8em;
		text-align: center;
		text-transform: uppercase;
	}
	.modal-header {
		background-color: #ffffff;
	}
	.modal-thumb {
		width: 100px;
	}
	.modal-title {
		float: right;
		margin-top: 30px;
	}
	input {
		border-radius: 0;
		width: 100%;
	}
	input[type=checkbox] {
		height: auto;
		// margin: 10px 0;
		width: auto;
	}
	input[type=submit] {
		margin-top: 10px;
	}
	label {
		font-weight: normal;
	}
	textarea {
		height: 107px;
		border-radius: 0;
	}
}

.collection_modal {
	.modal-body {
    .assigned {
    	background-color: #c8c8c8;
    	color: #000;
      display: block;
      margin-bottom: 5px;
      padding: 5px 12px;
      text-align: left;
      text-decoration: line-through;
      text-wrap:none;
    }
		.btn-primary {
			text-align: left;
			margin-bottom: 5px;
		}
		.collection-links {
			max-height: 205px;
			overflow-y: scroll;
		}
	}
	.modal-footer {
		padding: 25px;
	}
}

.sign_up_modal .control-label {
	margin-bottom: 0;
	border-bottom: 1px solid #999;
	// color: #999;
	font-size: 18px;
	padding-bottom: 10px;
	text-align: left;
	width: 100%;
}

.sign_up_modal .reference {
	// height: 100px
}