// Place all the styles related to the remote_content controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login_modal, .sign_up_modal {
	color: #666666;
	.right-column {
		.form-group {
			padding-left: 0;
		}
	}
	.btn-primary {
		background-color: #c8c8c8;
	}
	.btn-primary:hover {
		background-color: #f47321;
	}
	.form-group {
		margin-bottom: 3px;
		padding: 0 10px;
	}
	.logo-icon {
		display: inline-block;
		height: 50px;
		text-align: left;
		vertical-align: bottom;
	}
	.modal-body {
		padding: 25px;
		p {
			font-size: 0.9em;
			margin: 0 0 0 -12px;
			padding: 10px 0 5px 0;
		}
	}
	.modal-content {
		background-color: #e6e6e6;
	}
	.modal-dialog {
		// width: 700px;
	}
	.modal-footer {
		font-size: 0.8em;
		text-align: center;
		text-transform: uppercase;
	}
	.modal-header {
		background-color: #ffffff;
	}
	.modal-title {
		float: right;
		margin-top: 30px;
	}
	input {
		border-radius: 0;
		width: 100%;
	}
	input[type=checkbox] {
		margin: 10px 0;
		width: auto;
	}
	label {
		font-weight: normal;
	}
	textarea {
		height: 107px;
		border-radius: 0;
	}
}