.sly-container {
	// background-color: lightblue;
	margin: 0 -37px;
	// position: relative;
	// top: -60px;
}

.category-items-container ul li.active {
	background-color: #f8f8f8;
}

.frame {
	background-color: lightblue;
	margin: 0 -1px;
	position: relative;
	height: 520px;
	overflow: hidden;
	top: -32px;
}
.frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
}
.frame ul li {
	float: left;
	height: 100%;
	color: #333;
	cursor: pointer;
	border-radius: 3px;
	width: 660px;
	border: 1px solid #c8c8c8;
	margin: 0 40px 0 0;
	padding: 5px;

}
.frame ul li.active {
	color: #000;
	background: #f8f8f8;
}

.frame h4 {
	margin:7px 0 1px 7px;
}

.frame img {
	height: 372px;
	width: 648px;
}

.frame .item-circa {
	font-size: 0.8em;
}

.frame .item-info {
	min-height: 98px
}

.frame p {
	line-height: 20px;
	font-weight: 200;
	margin: 7px 0 5px 7px;
}

/* Scrollbar */
.scroll-container-full {
	margin: 0 37px;
}

.scroll-container-full .btn-primary {
	background-color: #f47321;
	border: none;
	border-radius: 0;
	color: #FFF;
}
.scroll-container-full .btn-primary:hover {
	background-color: #e5e5e5;
	border: none;
	border-radius: 0;
	color: #999;
}

.scroll-container-full .scrollbar {
	// margin: 10px 15px 10px 0;
	height: 12px;
	background: #e5e5e5;
	line-height: 0;
	opacity: 1;
}
.scroll-container-full .scrollbar:hover {
	opacity: 1;
}
.scroll-container-full .scrollbar .handle {
	width: 100px;
	height: 100%;
	background: #f47321;
	cursor: pointer;
}
.scroll-container-full .scrollbar .handle .mousearea {
	position: absolute;
	top: -9px;
	left: 0;
	width: 100%;
	height: 20px;
}


/* Scrollbar  */
.scroll-container {
	// background-color: red;
	margin: 30px 15px 0 0;
}

.scroll-container .btn-primary {
	background-color: #f47321;
	border: none;
	border-radius: 0;
	color: #FFF;
	margin-top: -10px;
}
.scroll-container .btn-primary:hover {
	background-color: #e5e5e5;
	border: none;
	border-radius: 0;
	color: #999;
	margin-top: -10px;
}

.scrollbar {
	/*margin: 10px 15px 10px 0;*/
	// margin: 0 50px 10px 50px;
	height: 12px;
	background: #e5e5e5;
	opacity: 0.2;
	line-height: 0;
}


// BUTTON CONTROLS

.button-controls {
	background-color: yellow;
	// height: 60px;
	// margin: 0 10px;
	float: left;
	position: relative;
	top: 230px;
	z-index: 50;
}

.prev {
	float: left;
	left: 50px;
	position: relative;
	top: 230px;
	z-index: 40;
}

.next {
	right: 50px;
	float: right;
	position: relative;
	top: 230px;
	z-index: 50;
}

.btn-primary {
	background-color: #f47321;
	border: none;
	border-radius: 0;
	color: #FFF;
	margin: 0;
	padding: 20px 12px;
}
.btn-primary:hover {
	background-color: #e5e5e5;
	border: none;
	border-radius: 0;
	color: #999;
}