// Place all the styles related to the subcategories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// SUBNAV
.sc-subnav {
	// background-color: red;
	margin: 5px 0 5px 0;
	div {
		border-right: 1px solid #FFFFFF;
		margin: 0;
		padding: 0;
	}
	div:first-child{
		background-color: #e5e5e5;
		color: #999999;
		font-size: 0.8em;
		padding: 10px 15px;
		text-transform: uppercase;
	}
	button {
		background-color: #e5e5e5;
		border: none;
		color: #999999;
		font-size: 0.8em;
		padding: 10px 15px;
		text-align: left;
		text-transform: uppercase;
		width: 100%;
	}
	button:hover {
		background-color: #f47321;
		color: #FFFFFF;
	}
}

.nav-util {
	margin: 5px 0 5px 0;
	position: relative;
}
.nav-util>li {
	border-radius: 0;
	float: left;
	margin-right: -2px;
	width: 33%;
}

.nav-util>li:last-child {
  /* width: 33%; */
}

.nav-util>li.active {
	background-color: red;
}

.nav-util-item>li {
	border-radius: 0;
	float: left;
	margin-right: -2px;
	width: 25%;
}

.nav-util>li>a, .nav-util-item>li>a {
	background-color: #e5e5e5;
	border-radius: 0;
	border-right: 1px solid #ffffff;
	color: #999;
	font-size: 0.8em;
}

.nav-util>li:last-child>a {
	border: none;
}






