<div class="feature-page">

		<div class="col-md-12">
			<h1>New Features</h1>
			<p>Welcome to the new HMLuther.com. Aliquam luctus eleifend eros. Aliquam non dignissim augue. Praesent rutrum auctor ornare. Quisque nibh enim, molestie quis auctor nec, varius in eros. Vivamus sodales odio in volutpat euismod. Duis pretium eros ac bibendum hendrerit. Nulla semper nunc non mollis bibendum. Vestibulum luctus erat vitae lectus dapibus, sed ultrices lectus molestie. Praesent rutrum sem non convallis porta. Nulla rhoncus augue pellentesque nisl lobortis, sed commodo mauris interdum.</p>
		<!-- <hr> -->
		</div>
		<!-- ABOUT COPY -->
		<div class="col-md-12">

			<h2>Feature 1:</h2>
			<p>Aliquam luctus eleifend eros. Aliquam non dignissim augue. Praesent rutrum auctor ornare. Quisque nibh enim, molestie quis auctor nec, varius in eros. Vivamus sodales odio in volutpat euismod. Duis pretium eros ac bibendum hendrerit. Nulla semper nunc non mollis bibendum. Vestibulum luctus erat vitae lectus dapibus, sed ultrices lectus molestie. Praesent rutrum sem non convallis porta. Nulla rhoncus augue pellentesque nisl lobortis, sed commodo mauris interdum.</p>

			<h2>Feature 2:</h2>
			<p>Aliquam luctus eleifend eros. Aliquam non dignissim augue. Praesent rutrum auctor ornare. Quisque nibh enim, molestie quis auctor nec, varius in eros. Vivamus sodales odio in volutpat euismod. Duis pretium eros ac bibendum hendrerit. Nulla semper nunc non mollis bibendum. Vestibulum luctus erat vitae lectus dapibus, sed ultrices lectus molestie. Praesent rutrum sem non convallis porta. Nulla rhoncus augue pellentesque nisl lobortis, sed commodo mauris interdum.</p>

			<h2>Feature 3:</h2>
			<p>Aliquam luctus eleifend eros. Aliquam non dignissim augue. Praesent rutrum auctor ornare. Quisque nibh enim, molestie quis auctor nec, varius in eros. Vivamus sodales odio in volutpat euismod. Duis pretium eros ac bibendum hendrerit. Nulla semper nunc non mollis bibendum. Vestibulum luctus erat vitae lectus dapibus, sed ultrices lectus molestie. Praesent rutrum sem non convallis porta. Nulla rhoncus augue pellentesque nisl lobortis, sed commodo mauris interdum.</p>		

		</div>

</div>