<nav id="cbp-hrmenu" class="cbp-hrmenu">
  <ul>

    <!-- FURNITURE -->
    <li class="drop">
      <a href="#">Furniture</a>
      <div class="cbp-hrsub">
        <div class="cbp-hrsub-inner"> 
          <div>
            <h4>Seating</h4>
            <ul>
              <li><a href="mirrors.html">All</a></li>
              <li><a href="mirrors-h.html">Chairs</a></li>
              <li><a href="mirrors-r.html">Sofas, Beds, Daybeds</a></li>
              <li><a href="mirrors-mix.html">Stools, Benches</a></li>
            </ul>
          </div>
          <div>
            <h4>Cabinetry</h4>
            <ul>
              <li><a href="category.html">All</a></li>
              <li><a href="mirrors-h2.html">Bookcase, Vitrines</a></li>
              <li><a href="#">Cabinets</a></li>
              <li><a href="#">Commodes, Chests of Drawers</a></li>
            </ul>
          </div>
          <div>
            <h4>Tables</h4>
            <ul>
              <li><a href="category.html">All</a></li>
              <li><a href="#">Coffee, Cocktails Tables</a></li>
              <li><a href="#">Console Tables</a></li>
              <li><a href="#">Desks, Secretaries</a></li>
              <li><a href="#">Etageres, Shelves</a></li>
              <li><a href="#">Table Tops</a></li>
              <li><a href="#">Tables</a></li>
            </ul>
          </div>
        </div><!-- /cbp-hrsub-inner -->
      </div><!-- /cbp-hrsub -->
    </li>

    <!-- LIGHTING -->
    <li class="drop">
      <a href="#">Lighting</a>
      <div class="cbp-hrsub">
        <div class="cbp-hrsub-inner">
          <div>
            <h4></h4>
            <ul>
              <li><a href="#">All</a></li>
              <li><a href="#">Candelabras, Candlesticks</a></li>
            </ul>
          </div>
          <div>
            <h4></h4>
            <ul>
              <li><a href="#">Chandeliers, Lanterns</a></li>
              <li><a href="#">Lamps</a></li>
            </ul>
          </div>
          <div>
            <h4></h4>
            <ul>
              <li><a href="#">Sconces, Wall Lights</a></li>
              <li><a href="#">Lanterns</a></li>
            </ul>
          </div>
        </div><!-- /cbp-hrsub-inner -->
      </div><!-- /cbp-hrsub -->
    </li>

    <!-- MIRRORS -->
    <li class="drop">
      <a href="#">Mirrors</a>
    </li>

    <!-- OBJECTS -->
    <li class="drop">
      <a href="#">Objects</a>
      <div class="cbp-hrsub">
        <div class="cbp-hrsub-inner"> 
          <div>
            <h4></h4>
            <ul>
              <li><a href="#">All</a></li>
              <li><a href="#">Boxes</a></li>
              <li><a href="#">Clocks</a></li>
            </ul>
          </div>
          <div>
            <h4></h4>
            <ul>
              <li><a href="#">Jardinieres</a></li>
              <li><a href="#">Objects</a></li>
              <li><a href="#">Pedestals</a></li>
            </ul>
          </div>
          <div>
            <h4></h4>
            <ul>
              <li><a href="#">Screens</a></li>
              <li><a href="#">Trays</a></li>
              <li><a href="#">Vases, Bowls</a></li>
            </ul>
          </div>
        </div><!-- /cbp-hrsub-inner -->
      </div><!-- /cbp-hrsub -->
    </li>
    <li class="drop">
      <a href="#">Art</a>
      <div class="cbp-hrsub">
        <div class="cbp-hrsub-inner"> 
          <div>
            <h4></h4>
            <ul>
              <li><a href="#">Pictures</a></li>
              <li><a href="#">Sculptures</a></li>
            </ul>
          </div>
        </div><!-- /cbp-hrsub-inner -->
      </div><!-- /cbp-hrsub -->
    </li>

    <!-- DESIGNERS -->
    <li class="drop">
      <a href="#">Designers</a>
    </li>
  </ul>
</nav>