<div class="row recent-items">
	<div class="col-md-12">
		<div class="rc-title">
			Recently viewed items
		</div>
		<!-- <hr> -->
		
		<div class="row item-thumbs">

			<!-- RECENT ITEM THUMBS -->
			<% @history_items.sort.each do |item| %>
				<div class="col-md-2 col-sm-2 col-xs-4">
					<%= link_to item do %>
						<%= image_tag item.thumb_image_url %>
					<% end %>
				</div>
			<% end %>

		</div>
	</div>
</div>