<div class="row recent-items">
	<% if @history_items.present? %>
	<div class="col-md-12">
		<div class="rc-title">
			Recently viewed items
		</div>
		
		<div class="item-thumb-container">
			<div class="item-thumbs">

			<!-- RECENT ITEM THUMBS -->
			<% @history_items.sort.each do |item| %>
				<!-- <div class="col-md-2 col-sm-2 col-xs-4"> -->
				<div>
					<%= link_to item do %>
						<% if item.thumb.present? %>
							<%= cl_image_tag item.thumb.filemaker_id + ".jpg", 
								:width => 170, 
								:crop => :limit, 
								:dpr => 2.0, 
								:responsive_placeholder => "#{asset_path 'detail_loading.svg'}",
								:title => "Item #{item.filemaker_id}",
								:alt => "Item #{item.filemaker_id}",
								:class => "img-responsive cld-responsive" %>
							<% else %>
								<%= image_tag "detail_missing.svg" %>
							<% end %>
					<% end %>
				</div>
			<% end %>

			</div>
		</div>
		
	</div>
	<% end %>
</div>