<div id="welcome_modal" class="welcome_modal modal fade">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- HEADER -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<%= image_tag 'hml_icon.svg', class: 'logo-icon', alt: 'HM Luther' %>
				<h4 class="modal-title">Welcome</h4>
			</div>

			<!-- BODY -->
			<div class="modal-body">

				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">You are currently viewing <%= params[:category] %></h3>
				  </div>
				  <div class="panel-body">
				  	<h5>We’ve added some helpful features to make your browsing easier.</h5>
				  	<hr>
				  	<div class="hidden-xs">
					  	<h4>Click <span class="orange">DISPLAY OPTIONS</span> to view:</h4>
					  	<ul>
					  		<li>1 Row of large images, or</li>
					  		<li>2 Rows of smaller images</li>
					  	</ul>
					  	<hr>
				  	</div>
				  	<h4>Click <span class="orange">SORT OPTIONS</span> to order items by scale:</h4>
				  	<ul>
				  		<li>Click Largest to Smallest with the largest items first</li>
				  		<li>Click Smallest to Largest with the smallest items first</li>
				  	</ul>
				  </div>
				</div>

			</div>

			<!-- FOOTER -->
			<div class="modal-footer">
				<p>Not registered yet? <%= link_to "Sign up", remote_sign_up_path, :remote => true, :class => 'close-login', :data => {dismiss: "modal"} %></p>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->